.central-tab, .right-tab {
	padding-top: 15px;
}

.right-tab{
	background: rgb(245, 245, 245);
	border-radius: 5px;	
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	background-color: pink;
}

.add-file{
	padding-top: 50px;
}


.form-horizontal .control-label, label[for='selectImageDiv'] {
	padding-top: 0px;
  	padding-right: 0px;
} 